[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "cpp/libs/extern/eigen"]
	path = cpp/libs/extern/eigen
	url = https://github.com/RLovelett/eigen
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/wting/rust.vim.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "cpp/libs/extern/ChaiScript"]
	path = cpp/libs/extern/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript
[submodule "cpp/libs/extern/poco"]
	path = cpp/libs/extern/poco
	url = https://github.com/pocoproject/poco.git
