[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "cpp/libs/extern/eigen"]
	path = cpp/libs/extern/eigen
	url = https://github.com/RLovelett/eigen
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/wting/rust.vim.git
